[default]
domain_name = rees46
workers = 1
batch_size = 1000

[rabbit]
host = "localhost"
port = 5672
user = "rees46"
password = "secret"

[clickhouse]
host = "localhost"
port = "8123"
database = "rees46"

[geo]
city = "/home/rails/geo_ip/GeoLite2-City.mmdb"
country = "/home/rails/geo_ip/GeoLite2-Country.mmdb"
